<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="vieweport" content="width=device-width, initial-scale=1.0 shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>FAQs</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' href='/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/FAQs.css" />
    <link rel='stylesheet' type='text/css' href='/css/responsive.css'>
</head>

<body>
    <div class="finance">
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
            <div class="container">
              <a class="navbar-brand" href="/">Helios Finance Tracker</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
             <a class="nav-link" href="/about">About Us</a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="/faq">FAQ</a>
           </li>
           <% if(user) { %>
                 <li class="nav-item active">
             <a class="nav-link" href="/log-out">Log out</a>
           </li>
           <% } %>
         </ul>
       </div>
            </div>
         </nav>
        
        <h1>Frequently Asked Questions</h1>
        
        <div class="faq">
            <button type="button" class="collapsible">What is Finance Tracker?</button>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <button type="button" class="collapsible">How do I signup?</button>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <button type="button" class="collapsible">How does it work?</button>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <button type="button" class="collapsible">Can I reset my password?</button>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <button type="button" class="collapsible">How do I print my Finance summary?</button>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <button type="button" class="collapsible">How to deactivate my account?</button>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        
        <div class="contact-text">
            <p>Still got some questions?</p>
            <p>Send us a mail - <a href="#">teamhelios@gmail.com</a></p>
            <br>
            <p>Or drop a message</p>
        </div>
        
        <div class="contact-area">
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Email" />
            <textarea rows="5" placeholder="Message"></textarea>
            <button class="sub-btn">Submit</button>
        </div>
    </div>
    <script src="/js/FAQs.js"></script>
</body>
</html>




















